<div class="app">
  <h1 [innerHTML]="title" ></h1>
  <h1> {{ title + '!' }} </h1>
  <img [src]="logo" width="200px" height="100px">
  <button (click)="handleClick()">
    Change name
  </button>
  <div>
    Property and event bindings
  <input
    type="text"
    [value]="name"
    (blur)="handleBlur($event)"
    (input)='handleInput($event)'>
  </div>
  <div>
    NgModel property and event bindings one way
    <input
      type="text"
      [ngModel]="name"
      (ngModelChange)="handleChange($event)">
  </div>
  <div>
    NgModel property and event bindings two way
    <input
      type="text"
      [(ngModel)]="name">
  </div>
  <div>
    #ref variables
    <button (click)="getValue(username.value)">Get Value</button>
    <input type="text" #username>
  </div>
  <div>
    {{ name }}
  </div>
  <div>
    {{ numberOne + numberTwo }}
  </div>
  <div>
    {{ isHappy ? ':)' : ':(' }}
  </div>
  <div>
    ngIf
    <input type="text" [value]="name" (input)='handleChange($event.target.value)'>
    <div *ngIf="name.length > 2">
      Serching for... {{ name }}
    </div>
  </div>
  <div>
    <br>
    ngFor / ngClass / ngStyle
    <div>
      <h3>Airline Passangers</h3>
      <ul>
        <li *ngFor="let passenger of passengers; let i = index;">
          <span
            class="status"
            [class.checked-in]="passenger.checkedIn"
          ></span>
          {{ i }} : {{ passenger.fullname }}
        </li>
      </ul>
      <div><br/></div>
      <ul>
        <li *ngFor="let passenger of passengers; let i = index;">
          <span
            class="status"
            [ngClass]="{ 'checked-in': passenger.checkedIn }"
          ></span>
          {{ i }} : {{ passenger.fullname }}
        </li>
      </ul>
      <div><br/></div>
      <ul>
        <li *ngFor="let passenger of passengers; let i = index;">
          <span
            class="status"
            [style.backgroundColor]="(passenger.checkedIn ? '#2ecc71' : '#c0392b')"
          ></span>
          {{ i }} : {{ passenger.fullname }}
        </li>
      </ul>
      <div><br/></div>
      <ul>
        <li *ngFor="let passenger of passengers; let i = index;">
          <span
            class="status"
            [ngStyle]="{ backgroundColor: (passenger.checkedIn ? '#2ecc71' : '#c0392b') }"
          ></span>
          {{ i }} : {{ passenger.fullname }}
        </li>
      </ul>
    </div>
  </div>
  <div>
    <br>
    Pipes / Safe navigation operator
    <h3>Airline Passangers</h3>
      <ul>
        <li *ngFor="let passenger of passengers; let i = index;">
          <span
            class="status"
            [class.checked-in]="passenger.checkedIn"
          ></span>
          {{ i }} : {{ passenger.fullname }}
          <p> {{ passenger | json }} </p>
          <div class="date">
            Check in date: {{ passenger.checkInDate ? (passenger.checkInDate | date: 'yMMMMd' | uppercase) : 'Not checked in' }}
          </div>
          <div>
            Children : {{passenger.children?.length || 0}}
          </div>
        </li>
      </ul>
  </div>
</div>
